body {
    margin: auto;
    padding: 5px 0;
    width: 95%;
}

a {
    text-decoration: none;
}

.topContainer {
    display: inline-flex;
    width: 100%;
}

.title {
    display: flex;
    align-items: left;
    margin: 0;
}

.topNav {
    display: inline-block;
    margin: auto;
    margin-right: 5px;
    letter-spacing: 5px;
}

nav {
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    text-align: center;
    padding: 8px 10px;
    font-size: 17px;
    color: black;
}

nav a:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

nav .icon {
    display: none;
}

@media screen and(max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
        float: right;
        display: block;
    }
}

@media screen (max-width: 600px) {
    nav.responsive {position:relative;}
    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}