body {
    margin: auto;
    padding: 5px 0;
    width: 95%;
}

a {
    text-decoration: none;
}

.nav-list {
    margin: 0;
    padding: 16px 0;
    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-item a {
    color: black;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 32px;
    list-style: none;
}

.fi {
    font-size:  12px;
    margin-right: 10px;
    display: inline-block;
    transition: 0.2s;
}

.fi:hover {
    transform: scale(1.8);
}


.span-nav {
    text-align: center;
    transition: 0.5s;
}

.span-nav:hover {
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 5px;
    border-radius: 8px;
}

#search {
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    width: 250px;
    transition: 0.2s;
}

#search:hover {
    padding: 8px;

}

nav {
    border-bottom: 2px solid rgba(0,0,0,0.5);
}

header {
    display: flex;
    margin: 5px 0;
    padding: 0.5rem;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}


.featured-month {
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.featured-text button {
    position: relative;
    padding: 0.75rem;
    margin-top: 3rem;
    margin-bottom: 0.2rem;
    width: 8.5rem;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.5s ease;
    color: #fff;
    background-color: #000;
    letter-spacing: 1.3px;
}

.featured-text button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
}

.featured-text {
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}

.featured {
    display: flex;
    position: relative;
    width: 100%;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.featured-image{
    position: relative;
    margin: 20px 10px 20px 30px;
}

.image-summary {
    margin: auto 0;
    padding: 5px 10px;
    font-size: 1.2rem;
    text-align: center;
}

.see-more {
    color: #000;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    font-size: 1.2rem;
}

.service {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.service div {
    border: 1px solid black;
    width: 150px;
    text-align: center;
}

.box1 {
    background-image: url('');
}

.box2 {
    background-color: red;
}

.box3 {
    background-color: pink;
}

.box4 {
    background-color: aqua;
}